<h1>Listing images</h1>

<table>
  <tr>
    <th>Media</th>
    <th>Alt text</th>
    <th>Sizes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image_tag(image.media.url(:thumb)) %></td>
    <td><%= image.alt_text %></td>
    <td>
        <%= link_to "Large", image.media.url() %><br/>
        <%= link_to "Medium", image.media.url(:medium) %><br/>
        <%= link_to "Thumb", image.media.url(:thumb) %><br/>
    </td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
