<!DOCTYPE html>
<html>
<head>
  <title>Mildthing.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="background-color: #000;">
    <div class="container">
        <div style="padding: 20px">
            <a href="/"><%= image_tag("mildthing-logo.png") %></a>
        </div>
    </div>
</div>

<div class="container">

    <%= yield %>

</div>

</body>
</html>
