<!DOCTYPE html>
<html>
<head>
  <title>Mildthing.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="background-color: #000;">
    <div class="container">
        <div style="padding: 20px">
            <a href="/"><%= image_tag("mildthing-logo.png") %></a>
        </div>
    </div>
</div>

<div class="container">

    <%= yield %>

</div>

<% if admin_signed_in? %>
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="pull-right">
            <ul class="nav">
                <li><%= link_to('Logout', destroy_admin_session_path, :method => :delete)  %></li>
            </ul>
        </div>
    </div>
</div>
<% end %>

</body>
</html>
